*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    overflow: hidden;
  }
  body::before {
    content: "";
    position: absolute;
    top: -150px;
    left: -90px;
    height: 300px;
    width: 300px;
    background-color: bisque;
    border-radius: 50%;
    z-index: -1;
  }
  body::after {
    content: "";
    position: absolute;
    right: -90px;
    bottom: -50px;
    height: 300px;
    width: 300px;
    background-color: bisque;
    border-radius: 50%;
    z-index: -1;
  }
  .homePage{
      background-color: transparent;
      padding: 0 10px;
      transition: .3s ease-in-out;
    }
    .homePage nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .homePage nav .logo img{
      height: 100px;
    }
    .homePage nav ul{
      display: flex;
      gap: 20px;
    }
    .homePage nav ul li.active{
      border-bottom:3px solid orange;
    }
    .homePage nav ul li{
      list-style: none;
      transition: .1s;
    }
    .homePage nav ul li:hover{
      border-bottom: 3px solid orange;
    }
    .homePage nav ul li img{
      height: 50px;
    }
    .homePage nav .search{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      height: 30px;
      width: 20%;
    }
    .homePage nav .search input{
      height: 100%;
      width: 100%;
      padding-left: 10px;
      border: 3px solid bisque;
    }
    .homePage nav .search button{
      width: 50px;
      height: 100%;
      border: 1px solid transparent;
    }
    .homePage nav .search button img{
      height: 20px;
    }
    .menu{
      display: flex;
      align-items: center;
    }
    .menu h2{
      width: 100%;
      text-align: center;
    }

    .sliderCont{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .slider, .slider2{
      height: calc(100vh - 135px);
      width: 500px;
      overflow: auto;
     }
     .slider2{
      margin-top: 20px;
      display: inline;
     }
     .slider2::-webkit-scrollbar,
     .slider::-webkit-scrollbar{
      display: none;
     }
     .block{
      height: 100%;
      width: 100%;
      min-width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
     }
     .block img{
      height: 80%;
      width: 100%;
      border-radius: 20px;
     }
     .block button{
      background-color: rgb(255, 170, 0);
      padding: 5px 30px;
      border-radius: 20px;
     }